.header{
    height:120px;
    width: 1280px;
    /* border: 1px solid black; */
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 80px;
    margin-top: 6px;
}
.Wikipedia{
    height: 50px;
    width: 180px;
}
.input {
    
        display: flex;
        align-items: center;
        margin-left: 350px;
        position: relative;
        bottom: 45px;
}
.searchbar{
    padding: 8px;
    border: 1px solid #a6b4c2;
    outline: none;
    width: 350px;


}
button{
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    cursor: pointer;
}
button:hover {
    background-color:white;
}
.links{
    position: relative;
    left: 1009px;
    bottom: 100px;
    position: absolute;
    top: 30px;
    right: 20px;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#line{
    position: relative;
    bottom: 70px;
    left: 50px;
}
.dots{
    position: relative;
    left: 1170px;
    bottom: 106px;
    position: absolute;
    top: 30px;
    right: 20px;
}
/* Hide the checkbox */
#toggle-dropdown {
    display: none;
}
/* Style the label to look like the icon */
.icon{
    cursor: pointer;
}
/* Style the dropdown menu to be hidden by default */
.dropdown-menu {
     display: none;
    border: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 160px;
    max-height: 300px;/* Set a maximum height for scrollbar */
    background-color: white;
    overflow-y: auto; /* Add scrollbar when content overflows */
}
/* When the checkbox is checked, display the dropdown menu */
#toggle-dropdown:checked + .icon + .dropdown-menu {
    display: block;
}
hr{
    width: 1000px;
    /* height: 10px; */
    border: 1px solid rgb(160, 196, 210);
    position: relative;
    bottom: 20px;
}
.text{
    display:flex;
}
.MainPage{
 position:relative;
 left: 130px;
}
.Talk{
    position: relative;
    left: 145px;
    

}
.Read{
    position: relative;
    left: 720px;
}
.Viewsource{
    position: relative;
    left: 735px;
}
.Viewhistory{
    position: relative;
    left: 750px;

}
.Tools{
    position: relative;
    left: 770px;
}
.welcome{
    border: 1px solid rgb(160, 196, 210);
    height: 95px;
    width: 1000px;
    position: relative;
    left: 130px;
    bottom: 15px;
    background-color: #eaebec;
}
.p1{
    position: relative;
    left: 430px;
    bottom: 10px;
}
.p2{
    position: relative;
    left: 370px;
    bottom: 20px;
}
.p3{
    position: relative;
    left: 420px;
    bottom: 30px;
}
.main1{
    border: 1px solid black;
    height: 950px;
    width: 530px;
    position: relative;
    left: 130px;
    bottom: 7px;
    background-color: #d7e7f7;

}
.m1{
    border: 1px solid black;
    height: 250px;
    width:200px;
    margin: 5px;
}
.mname{
    border: 1px solid black;
    height: 30px;
    width: 510px;
    margin: 5px;
    background-color:rgb(202, 221, 227);
}
.mariatitle{
    position: relative;
    left: 10px;
    bottom: 10px;
    font-family: monospace;
    font-size: 15px;
}
.cc{
    /* border: 1px solid black; */
    height: 210px;
    width: 140px;
    position: relative;
    top: 15px;
    left: 10px;
    float: left;
}
.mariaimg{
    float: left;
    height: 156px;
    padding: 2px;
    width: 120px;
    position: relative;
    bottom: 10px;
}
.name{
    font-size: small;
    padding: 6px;
    position: relative;
    bottom: 5px;
}
.passsage1{
    padding: 5px;
    margin: 5px;
}
.mp{
    text-align: right;
}
.n2{
    border: 1px solid black;
    height: 30px;
    width: 510px;
    margin: 10px;
    background-color:  rgb(202, 221, 227);
}
.n{
    position: relative;
    bottom: 10px;
    left: 4px;
    font-family: monospace;
    font-size: 15px;
}
.tattoo{
    float: right;
    margin-right: 10px;
    /* border: 1px solid black; */
    height: 200px;
    padding: 10px;
}
.tt{
    position: relative;
    bottom: 18px;
    width: 100px;
    

}


.main2{
    border: 1px solid black;
    height: 950px;
    width: 460px;
    position: relative;
    left: 670px;
    bottom: 960px;
    background-color: rgb(201, 255, 237);
}
.t{
    float: right;
}
.sname{
    border: 1px solid black;
    height: 30px;
    width: 447px;
    margin: 5px;
    background-color:rgb(202, 221, 227);
}
.s{
    position: relative;
    bottom: 10px;
    left: 4px;
    font-family: monospace;
    font-size: 15px;
}
.sky{
    float: right;
    margin: 5px;
}
#sn{
    border: 2px solid black;
    height: 180px;
    float: right;
}
.on{
    text-align: center;
}
.nomi{
    float: right;
    position: relative;
    bottom: 35px;
}
.name4{
    border: 1px solid black;
    height: 30px;
    width: 447px;
    margin: 5px;
    background-color:rgb(202, 221, 227);
}
.ship{
    float: right;
    margin: 10px;
    position: relative;
    left: 135px;
    border: 1px solid black;
} 
.mv{
    height: 180px;
    float: right;
}
.main3{
    border: 1px solid black;
    height: 300px;
    width: 1000px;
    position: relative;
    left: 130px;
    bottom: 950px;
    background-color: rgb(243, 223, 226);

}
.m3name{
    border: 1px solid black;
    height: 30px;
    width:980px;
    top: 10px;
    background-color: pink;
    position: relative;
    left: 10px;
}
.aus{
    float:right;
    border: 1px solid black;
    position: relative;
    top:  24px;
    right: 2px;
}
.ap{
    margin: 15px;

}
.ausn{
    /* border: 1px solid black; */
    width: 200px;
    float: right;
    position: relative;
    top: 200px;
    left: 200px;
}
.main4{
    border: 1px solid black;
    height: 800px;
    width: 1000px;
    position: relative;
    bottom: 945px;
    left: 130px;
}
.main4name{
    border: 1px solid black;
    height: 30px;
    width: 980px;
    margin: 10px;
    background-color: rgb(220, 233, 237);
}
.sis{
    border: 1px solid black;
    background-color: rgb(220, 233, 237);
    height: 30px;
    width: 970px;
    margin: 15px;
}
.w{
    margin: 15px;
}
.main5{
    /* border: 1px solid black; */
    height: 100px;
    width: 970px;
    position: relative;
    bottom: 1345px;
    left: 145px;
}
.comm{
    height: 40px;
    width: 40px;
    position: relative;
    top: 30px;
    left: 20px;
}
.media{
    height: 40px;
    width: 40px;
    position: relative;
    left: 340px;
    margin: 2px;
    bottom: 85px;

}
.meta{
    height: 40px;
    width: 40;
    position: relative;
    left: 650px;
    bottom: 200px;
}
.c{
    position: relative;
    left: 75px;
    bottom: 25px;
}
.med{
    position: relative;
    left: 390px;
    bottom: 140px;
}
.met{
    position: relative;
    left: 700px;
    bottom: 255px;

}
.lang{
    border: 1px solid black;
    background-color: rgb(220, 233, 237);
    height: 30px;
    width: 970px;
    margin: 15px;
    position: relative;
    bottom: 1350px;
    left: 130px;
}
.main6{
    /* border: 1px solid black; */
    height: 200px;
    width: 970px;
    position: relative;
    bottom: 1360px;
    left: 145px;
}
.hr1{
    width: 360px;
    position: relative;
    top: 20px;
    right: 290px;
}
.l1{
    position: relative;
    left: 410px;
    bottom: 6px;
}
.hr2{
    width: 390px;
    position: relative;
    top: -32px;
    left: 270px;
   
}




